<div id="game">
    <div class="top">
        <div class="deck-piles">
            <button id="deck"></button>
            <div id="deck-cards"></div>
        </div>
        <div class="stacks">
            <div id="spades-stack">
                <p>♠</p>
            </div>
            <div id="hearts-stack">
                <p>♥</p>
            </div>
            <div id="diamonds-stack">
                <p>♦</p>
            </div>
            <div id="spades-stack">
                <p>♣</p>
            </div>
        </div>
    </div>
    <div #rows class="bottom">
        <div #row1 id="row1" class="card-container">
            <app-card *ngFor="let card of cardRows[0]; let i = index"
                      [classNum]="card.id" [id]="card.visible ? 'visible' : 'hidden'"
                      [style.position]="'absolute'"
                      [style.top]="25 * i + 'px'">
            </app-card>
        </div>
        <div id="row2" class="card-container">
            <app-card *ngFor ="let card of cardRows[1]; let i = index"
                      [classNum]="card.id" [id]="card.visible ? 'visible' : 'hidden'"
                      [style.position]="'absolute'"
                      [style.top]="25 * i + 'px'">
            </app-card>
        </div>
        <div id="row3" class="card-container">
            <app-card *ngFor="let card of cardRows[2]; let i = index"
                      [classNum]="card.id" [id]="card.visible ? 'visible' : 'hidden'"
                      [style.position]="'absolute'"
                      [style.top]="25 * i + 'px'">
            </app-card>
        </div>
        <div id="row4" class="card-container">
            <app-card *ngFor="let card of cardRows[3]; let i = index"
                      [classNum]="card.id" [id]="card.visible ? 'visible' : 'hidden'"
                      [style.position]="'absolute'"
                      [style.top]="25 * i + 'px'">
            </app-card>
        </div>
        <div id="row5" class="card-container">
            <app-card *ngFor="let card of cardRows[4]; let i = index"
                      [classNum]="card.id" [id]="card.visible ? 'visible' : 'hidden'"
                      [style.position]="'absolute'"
                      [style.top]="25 * i + 'px'">
            </app-card>
        </div>
        <div id="row6" class="card-container">
            <app-card *ngFor="let card of cardRows[5]; let i = index"
                      [classNum]="card.id" [id]="card.visible ? 'visible' : 'hidden'"
                      [style.position]="'absolute'"
                      [style.top]="25 * i + 'px'">
            </app-card>
        </div>
        <div id="row7" class="card-container">
            <app-card *ngFor="let card of cardRows[6]; let i = index"
                      [classNum]="card.id" [id]="card.visible ? 'visible' : 'hidden'"
                      [style.position]="'absolute'"
                      [style.top]="25 * i + 'px'">
            </app-card>
        </div>
    </div>
</div>
