#page {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/poker-table.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.cards-container {
    display: grid;
    grid-row-start: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

button {
  margin-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
}

