<div id="page">
    <h1>War</h1>
    <form [formGroup]="multiplayerForm">
        <div formArrayName="players" class="input-holder">
            <div *ngFor="let child of multiplayerForm!.get('players')['controls']; let i = index"
                 formGroupName="{{i}}" class="container">
                Player {{i + 1}}
                <input type="text" placeholder="username" class="form-control" formControlName="username" />
            </div>
            <div class="form-buttons">
                <a (click)="removePlayer()" class="btn btn-sm btn-danger">-</a>
                <a (click)="addPlayer()" class="btn btn-sm btn-success">+</a>
            </div>
        </div>
    </form>
</div>
